.display-all-tickets {
    width: 100%;
    height: fit-content;
    display: flex;
}

.display-tickets {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

div.MuiPaper-root {
    background-color: whitesmoke;
}
